@font-face {
	font-family:"Alex Murphy Solid Regular"; 
	src:url("..fonts/alex_murphy_solid.ttf") format("truetype");
	font-style:normal;
	font-weight:normal;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto+Slab:300,400,700');
*{	
	padding:0;
	margin: 0;
	box-sizing:border-box;
}
body{
	font: 18px 'Montserrat', sans-serif;
	background-color: rgb(238,238,238);
	font-size: 18px;
}
header{
	background-color: rgb(255,255,255);
	border-top: 12px solid #000;
	display: inline-block;
	width: 100%;
}
a{
	color: black;
	text-decoration: none;
}
a:visited{
	color:black;
}
a:hover{
	color: rgb(229,13,0);
}
h2{
	font: 6em 'Alex Murphy Solid Regular', serif;
}
h3,
h4{
	font-family: 'Montserrat', sans-serif;
}
#ocp-name{
	float:left;
	padding: 12px;
	width: 40%;
}
.social-link{
	float: left;
	margin-top: 11px;
	margin-left: 5px;
	width: 20%;
}
.social-link img{
	margin-left: 15px;
	width: 8.5%;
}
.social-link a{
	padding: 5px;
}
.nav-link{
	display: inline;
	float: right;
	font: 3em 'Alex Murphy Solid Regular', serif;
	margin: .3em;
}
#two_column {
    background: radial-gradient(rgba(0,0,0,0.1),rgba(255,183,207,0.9)),url(../images/ocp-headquarters-greyscale.svg);
    background-size: cover;
    border: 1px black solid;
    padding: 20px;
    height: 70vh;
}
#left {
    background-color: rgba(229,130,162,.4);
    border: 1px black solid;
    margin: 10vh 15vh;
    padding: 80px;
    float: left;
    width: 32%;
}

#right {
    background-color: rgba(229,91,136,.4);
    border: 1px black solid;
    color: white;
    font: 4em 'Alex Murphy Solid', serif;
    line-height: 1.1em;
    float:right;
    margin:3vh 17vh;
    padding: 20px;
    text-align: right;
    width: 20%;
}
cite{
	display:block;
	font-size: .65em;
	line-height: 1.5em;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/*#hero{
	background: linear-gradient(rgba(253, 253, 253, 0.5), rgba(0, 0, 0, 0.5)), url(../images/ocp-headquarters-greyscale.svg);
	background-size: cover;
	height: 70vh;
}
#ocp-logo{
	width: 300px;
}
blockquote{
	color: rgb(229,13,0);
	font: bold 45px 'Roboto Slab', serif;
	line-height: 1.25em;
	padding: 1em;
	text-align: right;
}
cite{
	color: white;
}*/

#idt{
	background-color: rgb(0,0,0);
	display: inline-block;
	width: 100%;
}
#idt-title{
	color: white;
	float: left;
	font-size: 30px;/*
	margin: 0 0 .5em 1em;*/
	padding: 0 0 .25em 3em;
	text-align: right;
}
.idt-media{
	float: left;
	max-width: 250px;
}
.idt-container{
	float: right;
	width: 20%;
	padding: 1em;
}
.idt-article{
	background-color: white;
	color: black;
	float: right;
	padding: .3em .3em .63em .3em;
	text-align: justify;

}
.idt-text-title{
	border-bottom: 4px double #000;
	font-weight: bold;
	margin-bottom: .3em;
	text-align: center;
}

.idt-text-body{
	 font: lighter 16px 'Roboto Slab', serif; 
}
#products{

}
#products-title{
	margin-left: .25em;
}
#ed209-drawing{
	width: 900px;
	margin: auto;
}
.products-container{
	margin: 0 0 0 .25em;
	padding: 1.25em;
	text-align: justify;
	width: 30em;
}
.products-article{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	line-height: 1.50em;
	padding: 1.5em 5em;
}
.products-media{
 	max-width: 300px;
 	padding: 0;
}
#services{
}
.services-media{
	max-width: 200px;
}
.services-article{
}
.services-aside{
}
#future{
}
.future-media{
	max-width: 200px;
}
.future-article{
}
#leaders{
}
.leaders-media{
	max-width: 200px;
}
.leaders-article{
}
#site-footer{
	background-color: black;
	color: white;
}
