@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto+Slab:300,400,700');
@font-face {
	font-family:"Alex Murphy Solid Regular"; 
	src:url("../fonts/alex_murphy_solid.ttf") format("truetype");
	font-style:normal;
	font-weight:normal;
}
*{	
	padding:0;
	margin: 0;
	box-sizing:border-box;
}
body{
	font: 100% 'Montserrat', sans-serif;
	font-size: 18px;
}
header{
	background-color: rgb(255,255,255);
	border-top: 12px solid #000;
	width: 100%;
}
a{
	color: black;
	text-decoration: none;
}
a:visited{
	color:black;
}
a:hover{
	color: rgb(229,13,0);
}
h2{
	font: 5em 'Alex Murphy Solid Regular', serif;
}
h3,
h4{
	font-family: 'Montserrat', sans-serif;
}
#ocp-name{
	float: left;
	padding: 12px;
	width: 400px;
}
.social-link{
	float: left;
	margin: 0 7%;
	padding: .3em;
	width: 15%;
}
.social-link img{
	max-width: 20px;
}
.social-link a{
	padding: 0 1em;
}
.nav-link{
	float: left;
	font: 1.25em 'Roboto', sans-serif;
	margin: 0 5%;
	padding: .15em 2em;
}
.nav-link a{
	padding: 0 1.5em;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
#hero{
	background: linear-gradient(to top,rgba(255, 255, 255, 0.99), rgba(0, 0, 0, 0.3)), url(../images/ocp-headquarters-greyscale.svg);
	background-size: cover;
	display: inline-block;
	height: 75vh;
	width: 100%;
}
#ocp-logo{
	float: left;
	margin: 150px 0 200px 200px;
	padding: 50px;
	width: 300px;
}
blockquote{
	color: rgb(225,225,225);
	font: bold 3.25em 'Alex Murphy Solid Regular', serif;
	letter-spacing: 3px;
	line-height: 1.15em;
	margin:190px 100px 200px 200px;
	padding-left: 200px;
	text-align: right;
}
cite{
	color: rgb(35,31,32);
	display: block;
	font-size: .75em;
	font-weight: lighter;
}

#idt{
	background-color: rgb(0,0,0);
	display: inline-block;
	margin-top: 200px;
	padding-left: 10%;
	padding-bottom: 25px;
	width: 100%;
}
#idt article a:hover{
	background-color: red;
}
#idt-title{
	color: white;
	float: left;
	font: bold 2em 'Roboto Slab', serif;
	padding: 10px 15px 0 100px;
	text-align: right;
}
#idt article{
	float: left;
	background-color: white;
	margin: -75px 0 0 15px;
	height: 140px;
	text-align: center;
	width: 400px;
}
.idt-media{
	height: 100%;
	object-fit: cover;
	width: 60%;
}
#ed-209-aftermath{
	border-bottom: 1px solid black;
}
.idt-text-box{
	color: black;
	float: right;
	height: 100%;
	overflow: hidden;
	width: 40%;
}
.idt-text-title{
	border-bottom: 3px double #000;
	font: bold 1.2em 'Montserrat', sans-serif;
	padding: .4em;
}
.idt-text-body{
	 font: lighter .67em 'Roboto Slab', serif;
	 line-height: 1.5em;
	 padding: .4em;
	 text-align: left;
}
#products{
	border-top: 2px solid black;
	padding: 25px 50px;
}
#products-title{
	margin-left: .25em;
}
#products h3{
	font-size: 1.25em;
}
.products-article{
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	line-height: 1.60em;
	padding: 70px 50px 60px 50px;
	text-align: center;
	width:100%;
}
.products-article img{
	width: 100%;
}
#products-p1{
	padding: 1em 2em;
}
#products a{
	border-bottom: 1px solid black;
	font-weight: bold;
}
#products-p2{
	padding-top: 1em;
}
.products-container{
	margin-bottom: 20%;
	padding: 5px 50px;
	width:100%;
}
.products-container img{
	display: block;
	float: left;
	max-width: 33%;
}
#services{
	border-top: 2px solid black;
	clear:both;
	margin-top: 20%;
	padding: 25px 50px 50px 50px;
	width: 100%;
}
#services-title{
	padding: 60px 0 75px; 
	text-align: center;
}
.services-container img{
	display: block;
	float: left;
	max-width: 33%;
}
.services-article{
	line-height: 1.6em;
	margin-top: 15%;
	padding: 4% 3% 1% 33%;
	text-align: left;
}
.services-article h3{
	padding-bottom: 1em;
}
.services-article p{
	padding-top: 1em;
}
.services-article cite{
	color: black;
	display: inline;
	font: 1em Roboto, sans-serif;
	padding: 15px;
}
.services-article q{
	color: black;
	font-weight: bold;
}
.future-article{
	line-height: 1.6em;
	padding: 3em;
	text-align: right;
}
.future-article h3{
	padding: 1em;
}
#future-hr{
	margin-left: 2%;
}
#future-p1{
	padding-top: 1em;
}
.future-article p{
	padding: .35em;
}
.future-article a{
	border-bottom: 1px solid black;
	font-weight: bold;
}
#for-our-children{
	width: 66%;
}
#delta-city {
	width: 100%;
}
#leaders{
	border-top: 2px solid black;
	clear:both;
	padding: 25px 50px 100px 50px;
	width: 100%;
}
#leaders-title{
	padding: 60px 0 75px; 
	text-align: right;
}
.leaders-container{
	background-color: rgb(35,31,32);
	margin: auto;
	max-width: 30%;
}
.leaders-container img{
	width: 100%;
}
.leaders-article{
	color: white;
	line-height: 1.5em;
	padding: 1.5em;
	text-align: center;
	width: 100%;
}
.leaders-article h3{
	font-size: 1.5em;
}
.leaders-article h4{
	border-bottom: 1px solid white;
	font-size: .75em;
	font-weight: normal;
	padding: .5em;
}
.leaders-article p{
	font-size: 16px;
	line-height: 1.75em;
	padding-top: .75em;
}
footer{
	background-color: black;
	color: white;
}
#contact{
	margin: auto;
	opacity: .8;
	padding: 4em 0 2em 0;
	width: 40%;
}
#footer-email{
	font-size: 3em;
	font-family: "Alex Murphy Solid Regular", sans-serif;
	padding-bottom: 3px;
	text-align: center;
	width: 75%;
}
#footer-submit{
	font-size: 2.2em;
	width: 24%;
}
#copyright{
	padding: 5px;
	text-align: left;
}
