/*\*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto+Slab:300,400,700');
*{	
	padding:0;
	margin: 0;
	box-sizing:border-box;
}
body{
	font: 18px 'Montserrat', sans-serif;
	background-color: rgb(238,238,238);
	font-family:"alex murphy", cursive;
	font-size: 18px;
}
header{
	border-top: 12px solid #000;
	background-color: #FFED74;
}
a:visited{
	color:black;
}
a:hover{
	color: rgb(229,13,0);
}
h2{
	background-color: #E8C66A;
	font: bold 50px 'Roboto Slab', serif;
}
h3,
h4{
	font-family: 'Montserrat', sans-serif;
}
.social-link{
	background-color: #E8C66A;
	max-width: 30px;
	margin: .3em .65em;
}
.nav-link{
	/*font: 30px 'Montserrat', sans-serif;*/
	background-color: #E8C66A;
	margin-left: .65em;
	padding: .65em;
	text-transform: uppercase;
}
#hero{
	background-color: #FFE2B8;
	background-size: cover;
	height: 100vh;
}
#ocp-logo{
	margin-left: 10%;
	margin-top: 8%;
	width: 300px;
}
blockquote{
	background-color: #FFE2B8;
	color: rgb(229,13,0);
	/*font: bold 45px 'Roboto Slab', serif;*/
	line-height: 1.25em;
	padding: 1em;
	text-align: right;
}
cite{
	background-color: #FFE2B8;
	color: white;
}

#idt{
	background-color: #FFE2B8;
	display: block;

}
#idt-title{
	color: white;
	font-size: 30px;
	margin: 0 0 .5em 1em;
	padding: 0 0 .25em 3em;
	text-align: right;
}
.idt-media{
	max-width: 250px;
}
.idt-container{
	display: inline-block;
	width: 300px;
	padding: 1em;
}
.idt-article{
	background-color: #E89C6C;
	color: black;
	padding: .3em .3em .63em .3em;
	text-align: justify;

}
.idt-text-title{
	border-bottom: 4px double #000;
	font-weight: bold;
	margin-bottom: .3em;
	text-align: center;
}

.idt-text-body{
	/* font: lighter 16px 'Roboto Slab', serif; */
}
#products{
	background-color: #FFE2B8;

}
#products-title{
	margin-left: .25em;
}
#ed209-drawing{
	width: 900px;
	margin: auto;
}
.products-container{
	margin: 0 0 0 .25em;
	padding: 1.25em;
	text-align: justify;
	width: 30em;
}
.products-article{
	background-color: #E89C6C;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	line-height: 1.50em;
	padding: 1.5em 5em;
}
.products-media{
 	max-width: 300px;
 	padding: 0;
}
#services{
	background-color: #FFE2B8;
}
.services-media{
	max-width: 200px;
}
.services-article{
	background-color: #E89C6C;
}
.services-aside{
	background-color: #FFC675;
}
#future{
	background-color: #FFE2B8;
}
.future-media{
	max-width: 200px;
}
.future-article{
	background-color: #E89C6C;
}
#leaders{
	background-color: #FFE2B8;
}
.leaders-media{
	max-width: 200px;
}
.leaders-article{
	background-color: #E89C6C;
}
#site-footer{
	background-color: #FF957E;
	color: white;
}
