*{	
	padding:0;
	margin-top: 5;
}
body{
	font-family: tahoma, helvetica, sans-serif;
	text-align: left;
}
nav{
	color: black;
	display: inline;
}
h2{
	display: inline;
	font-size: 40px;
}
.social-link{
	max-width: 40px;
	margin: 0px 12px;
}
.nav-link{
	text-align: right;
	margin-left: 2.5%;
	font-size: 30px;
}
#hero{
	background: url('images/ocp-headquarters-greyscale.svg');
	background-size: cover;
	height: 850px;
}
#ocp-logo{
	margin: 20px 50px;
	width: 300px;
}
blockquote{
	color: red;
	display: inline;
	font-size: 40px;
	height: 400px;
	margin: 0;
	position: absolute;
	text-align: right;
	width: 200px;
}
cite{
	color: white;
}
#idt{
	background: black;
}
#idt-title{
	color: white;
}
#site-footer{
	background: black;
	color: white;
}