/*@import url(fonts/alex_murphy_solid.ttf/css?family=alexmurphy);*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto+Slab:300,400,700');

*{	
	padding:0;
	margin: 0;
	text-decoration: none;
}
body{
	background-color: rgb(238,238,238);
	font-size: 18px;
}
header{
	border-top: 12px solid #000;
	background-color: rgb(253,253,253);
	width: 100%;
}
a:link{
	color:black;
}
a:visited{
	color:black;
}
a:hover{
	color: rgb(229,13,0);
}
a:active{
	color: yellow;
}
nav{
	color: black;
	display: inline;
	width: 100%;
}
h2{
	display: inline;
	font: bold 50px 'Roboto Slab', serif;
	margin-right: 1em;
}
h3,
h4{
	font-family: 'Montserrat', sans-serif;
}
.social-link{
	max-width: 30px;
	margin: .3em .65em;
}
.nav-link{
	font: 30px 'Montserrat', sans-serif;
	margin-left: .65em;
	padding: .65em;
	text-align: right;
	text-transform: uppercase;
}
#hero{
	background: url('images/ocp-headquarters-greyscale.svg');
	background-size: cover;
	width: 100%;
	height: 900px;
}
#ocp-logo{
	margin-left: 10%;
	margin-top: 8%;
	width: 300px;
}
blockquote{
	background-color: rgba(253,253,253,.1);
	color: rgb(229,13,0);
	display: inline;
	font: bold 45px 'Roboto Slab', serif;
	height: 900px;
	line-height: 1.25em;
	margin-left: 30%;
	padding: 1em;
	position: absolute;
	text-align: right;
	width: 4.75em;
}
cite{
	color: white;
}

#idt{
	background: rgb(0,0,0);
	display: block;
	margin: -75px 0 10px 0;
	position: relative;
	width: 100%;

}
#idt-title{
	color: white;
	font-size: 30px;
	margin: 0 0 .5em 1em;
	padding: 0 0 .25em 3em;
	text-align: right;
	vertical-align: bottom;
}
.idt-media{
	display: inline-block;
	position: relative;
	margin-top:-75px;
	margin-right: 0;
	max-height: 168px;
	max-width: 300px;
	padding: 1em;
	vertical-align: top;
}
.idt-container{
	display: inline-block;
	margin: -57px 0 0 -23px;
	position: relative;
	width: 15em;
	
}
.idt-box{
	color: black;
	background-color: white;
	display: inline-box;
	padding: .3em .3em .63em .3em;
	text-align: justify;

}
.idt-text-title{
		border-bottom: 4px double #000;
	font-weight: bold;
	padding-top: .3em;
	padding-bottom: .2em;
	margin-bottom: .3em;
	text-align: center;
}

.idt-text-body{
	font: lighter 16px 'Roboto Slab', serif;
}
#products{
	background-color: rgb(178,178,178);
	margin: 10% 5% 10% 5%;

}
#products-title{
	margin-left: .25em;
	vertical-align: top;
}
#ed209-drawing{
	margin: 1em 0 0 3em;
	position: relative;
	width: 92%;
}
.products-container{
	background-color: white;
	display: inline-block;
	margin: 0 0 0 .25em;
	padding: 1.25em;
	position: relative;
	text-align: justify;
	vertical-align: top;
	width: 30em;
}
.products-box{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	line-height: 1.50em;
	padding: 1.5em 5em;
}
.products-media{
	display: inline;
 	margin: -5px 0 0 -4px;
 	max-width: 600px;
 	padding: 0;
 	vertical-align: top;

}
#nuke{
	margin-left: 3px;
}

.services-media{
	max-width: 200px;
}
.future-media{
	max-width: 200px;
}
.leaders-media{
	max-width: 200px;
}

#site-footer{
	background: black;
	color: white;
}